# General
.DS_Store
*.swp
*.swo
*.log
*.bak
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.env
*.venv
*.virtualenv
*.egg
*.egg-info/
dist/
build/
*.ipynb_checkpoints/

# Django
db.sqlite3
/media/
media/
*/media/
# Keep staticfiles for production deployment
# /staticfiles/

# Environment Files
.env
.env_production
*.env.*
google_credentials.json

# Docker
*.pid
*.tar
docker-compose.override.yml
docker-compose*.yml~
docker-compose*.override.yml~
logs/
*.sock

# MariaDB
*.sql
*.sql.gz
mysql_data/

# IDE/Editor
.vscode/
.idea/
*.code-workspace
*.sublime-project
*.sublime-workspace

# Secrets/Keys
*.pem
*.crt
*.key

# Operating System Files
.DS_Store
.Spotlight-V100
.Trashes
__MACOSX
*.~lock.*

Archive.zip