# Environment files
.env

# Python
__pycache__/
*.pyc

# Node.js
node_modules/

# Django
media/
staticfiles/

# Logs
*.log

# OS files
.DS_Store

# Additional
init.sql

# cache
.pytest_cache
.ruff_cache