[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
mysqlclient = "*"
gunicorn = "*"
openai = "*"
requests = "*"
channels = "*"
mariadb = "*"
jupyter = "*"
setuptools = "*"
kani = {extras = ["openai", "anthropic"]}
anthropic = "*" 
asgiref = "*"
python-dotenv = "*"
django-redis = "*"
whitenoise = "*"
nltk = "*"
certifi = "*"
pillow = "*"
boto3 = "*"

[requires]
python_version = "3.11"

[dev-packages]
ruff = "*"
pytest = "*"
pytest-django = "*"
pytest-asyncio = "*"
